/* Two-column layouts */
.left-column  { width: 49%; float: left; }
.right-column { width: 49%; float: right; }

.left-column-33  { width: 33%; float: left; }
.right-column-66 { width: 66%; float: right; }

.left-column-66  { width: 66%; float: left; }
.right-column-33 { width: 33%; float: right; }

.right-column ~ p { clear: both; }
.right-column ~ ul { clear: both; }

.teal{ color: #007a7c !important; }

.blue{ color: #99E1DD !important;}

.orange{ color: orange;}

.grey{ color: grey;}

.footnote {
    position: absolute;
    bottom: 50px;
    right: 100px;
}

.wwcodebold {
  color: #007a7c !important;
  font-weight: normal;
}
